@{
    ViewData["Title"] = "Login";
    ViewData["Add-ace-styles"] = true;
}

<!-- Login Section Start -->
<header id="home" class="hero-equal-height overflow-hidden d-flex align-items-center">
    <div class="login-layout light-login">
        <div class="login-container">
            <div class="position-relative">
                <div id="login-box"
                     class="login-box visible widget-box no-border">
                    <div class="widget-body">
                        <div class="widget-main">
                            <h4 class="header blue lighter bigger">
                                <i class="ace-icon fa fa-user green"></i>
                                Please Enter Your Credential
                            </h4>

                            <div class="space-6"></div>

                            <form id="login-form">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input type="text"
                                                       id="lemail"
                                                       name="lemail"
                                                       class="form-control"
                                                       placeholder="Email" />
                                                <i class="ace-icon fa fa-user"></i>
                                            </span>
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input type="password"
                                                       id="lpassword"
                                                       name="lpassword"
                                                       class="form-control"
                                                       placeholder="Password" />
                                                <i class="ace-icon fa fa-lock"></i>
                                            </span>
                                        </label>
                                    </div>

                                    <div class="space"></div>

                                    <div class="clearfix">
                                        <label class="inline">
                                            <input type="checkbox"
                                                   id="lcheckbox"
                                                   name="lcheckbox"
                                                   class="ace" />
                                            <span class="lbl"> Remember Me</span>
                                        </label>

                                        <button type="submit"
                                                class="
                                      width-35
                                      pull-right
                                      btn btn-sm btn-primary
                                    ">
                                            <i class="ace-icon fa fa-key"></i>
                                            <span class="bigger-110">Login</span>
                                        </button>
                                    </div>

                                    <div class="space-4"></div>
                                </fieldset>
                            </form>

                            <div class="social-or-login center">
                                <span class="bigger-110">Or Login Using</span>
                            </div>

                            <div class="space-6"></div>

                            <div class="social-login center">
                                <a class="btn btn-primary">
                                    <i class="ace-icon fa fa-facebook"></i>
                                </a>

                                <a class="btn btn-info">
                                    <i class="ace-icon fa fa-twitter"></i>
                                </a>

                                <a class="btn btn-danger">
                                    <i class="ace-icon fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                        <!-- /.widget-main -->

                        <div class="toolbar clearfix">
                            <div>
                                <a href="#"
                                   data-target="#forgot-box"
                                   class="forgot-password-link">
                                    <i class="ace-icon fa fa-arrow-left"></i>
                                    I forgot my password
                                </a>
                            </div>

                            <div>
                                <a href="#"
                                   data-target="#signup-box"
                                   class="user-signup-link">
                                    I want to register
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.widget-body -->
                </div>
                <!-- /.login-box -->

                <div id="forgot-box"
                     class="forgot-box widget-box no-border">
                    <div class="widget-body">
                        <div class="widget-main">
                            <h4 class="header red lighter bigger">
                                <i class="ace-icon fa fa-key"></i>
                                Retrieve Password
                            </h4>

                            <div class="space-6"></div>
                            <p>Enter your email and to receive instructions</p>

                            <form id="forgot-form">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input type="email"
                                                       id="femail"
                                                       name="femail"
                                                       class="form-control"
                                                       placeholder="Email" />
                                                <i class="ace-icon fa fa-envelope"></i>
                                            </span>
                                        </label>
                                    </div>

                                    <div class="clearfix">
                                        <button type="submit"
                                                class="
                                      width-35
                                      pull-right
                                      btn btn-sm btn-danger
                                    ">
                                            <i class="ace-icon fa fa-lightbulb-o"></i>
                                            <span class="bigger-110">Send Me!</span>
                                        </button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <!-- /.widget-main -->

                        <div class="toolbar center">
                            <a href="#"
                               data-target="#login-box"
                               class="back-to-login-link">
                                Back to login
                                <i class="ace-icon fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- /.widget-body -->
                </div>
                <!-- /.forgot-box -->

                <div id="signup-box"
                     class="signup-box widget-box no-border">
                    <div class="widget-body">
                        <div class="widget-main">
                            <h4 class="header green lighter bigger">
                                <i class="ace-icon fa fa-users blue"></i>
                                New User Registration
                            </h4>

                            <div class="space-6"></div>
                            <p>Enter your information:</p>

                            <form id="register-form">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input type="text"
                                                       id="rfullname"
                                                       name="rfullname"
                                                       class="form-control"
                                                       placeholder="Fullname" />
                                                <i class="ace-icon fa fa-user"></i>
                                            </span>
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input type="email"
                                                       id="remail"
                                                       name="remail"
                                                       class="form-control"
                                                       placeholder="Email" />
                                                <i class="ace-icon fa fa-envelope"></i>
                                            </span>
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input type="password"
                                                       id="rpassword"
                                                       name="rpassword"
                                                       class="form-control"
                                                       placeholder="Password" />
                                                <i class="ace-icon fa fa-lock"></i>
                                            </span>
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                                <input type="password"
                                                       id="rpassword2"
                                                       name="rpassword2"
                                                       class="form-control"
                                                       placeholder="Repeat password" />
                                                <i class="ace-icon fa fa-retweet"></i>
                                            </span>
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label class="block">
                                            <input type="checkbox"
                                                   id="rcheckbox"
                                                   name="rcheckbox"
                                                   class="ace" />
                                            <span class="lbl">
                                                I accept the
                                                <a href="#">User Agreement</a>
                                            </span>
                                        </label>
                                    </div>

                                    <div class="space-10"></div>

                                    <div class="clearfix">
                                        <button type="reset"
                                                class="width-30 pull-left btn btn-sm">
                                            <i class="ace-icon fa fa-refresh"></i>
                                            <span class="bigger-110">Reset</span>
                                        </button>

                                        <button type="submit"
                                                class="
                                      width-65
                                      pull-right
                                      btn btn-sm btn-success
                                    ">
                                            <span class="bigger-110">Register</span>

                                            <i class="
                                        ace-icon
                                        fa fa-arrow-right
                                        icon-on-right
                                      "></i>
                                        </button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                        <div class="toolbar center">
                            <a href="#"
                               data-target="#login-box"
                               class="back-to-login-link">
                                <i class="ace-icon fa fa-arrow-left"></i>
                                Back to login
                            </a>
                        </div>
                    </div>
                    <!-- /.widget-body -->
                </div>
                <!-- /.signup-box -->
            </div>
            <!-- /.position-relative -->
        </div>
    </div>
    <!-- /.col -->
    <!-- basic scripts -->
    <!-- Jquery Js-->
    <script src="~/assets-ace/js/jquery.min.js"></script>
    <!-- Bootstrap Js-->
    <script src="~/assets-ace/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        window.jQuery ||
            document.write(
                "<script src='~/assets-ace/js/jquery.min.js'>" + "<" + "/script>"
            );
    </script>

    <script type="text/javascript">
        if ("ontouchstart" in document.documentElement)
            document.write(
                "<script src='~/assets-ace/js/jquery.mobile.custom.min.js'>" +
                "<" +
                "/script>"
            );
    </script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        jQuery(function ($) {
            $(document).on("click", ".toolbar a[data-target]", function (e) {
                e.preventDefault();
                var target = $(this).data("target");
                $(".widget-box.visible").removeClass("visible"); //hide others
                $(target).addClass("visible"); //show target
            });
        });
    </script>
    </div>
    </div>
</header>
<!-- Login Section End -->
<!-- Jquery Js-->
<script src="~/assets/js/jquery-3.5.1.min.js"></script>
<!-- Bootstrap Js-->
<script src="~/assets/js/bootstrap.min.js"></script>
<!-- Site All Plugin Js-->
<script src="~/assets/js/plugins.js"></script>
<!-- Site Main Js-->
<script src="~/assets/js/main.js"></script>

<!-- basic scripts -->
<!--[if !IE]> -->
<script src="~/assets-ace/js/jquery.2.1.1.min.js"></script>

<!-- <![endif]-->
<!--[if IE]>
  <script src="assets/js/jquery.1.11.1.min.js"></script>
<![endif]-->
<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery ||
        document.write(
            "<script src='~/assets-ace/js/jquery.min.js'>" + "<" + "/script>"
        );
</script>

<!-- <![endif]-->
<!--[if IE]>
  <script type="text/javascript">
    window.jQuery ||
      document.write(
        "<script src='assets/js/jquery1x.min.js'>" + "<" + "/script>"
      );
  </script>
<![endif]-->
<script type="text/javascript">
    if ("ontouchstart" in document.documentElement)
        document.write(
            "<script src='~/assets-ace/js/jquery.mobile.custom.min.js'>" +
            "<" +
            "/script>"
        );
</script>
<script src="~/assets-ace/js/bootstrap.min.js"></script>

<!-- page specific plugin scripts -->
<script src="~/assets-ace/js/fuelux.wizard.min.js"></script>
<script src="~/assets-ace/js/jquery.validate.min.js"></script>
<script src="~/assets-ace/js/additional-methods.min.js"></script>
<script src="~/assets-ace/js/bootbox.min.js"></script>
<script src="~/assets-ace/js/jquery.maskedinput.min.js"></script>
<script src="~/assets-ace/js/select2.min.js"></script>

<!-- ace scripts -->
<script src="~/assets-ace/js/ace-elements.min.js"></script>
<script src="~/assets-ace/js/ace.min.js"></script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function ($) {
        $("[data-rel=tooltip]").tooltip();

        $(".select2")
            .css("width", "200px")
            .select2({ allowClear: true })
            .on("change", function () {
                $(this).closest("form").validate().element($(this));
            });

        $("#login-form").on("submit", function (e) {
            if (!$("#login-form").valid()) {
                e.preventDefault();
            }
        });

        $("#register-form").on("submit", function (e) {
            if (!$("#register-form").valid()) {
                e.preventDefault();
            }
        });

        $("#forgot-form").on("submit", function (e) {
            if (!$("#forgot-form").valid()) {
                e.preventDefault();
            }
        });

        //documentation : http://docs.jquery.com/Plugins/Validation/validate

        $("#login-form").validate({
            debug: true,
            errorElement: "div",
            errorClass: "help-block",
            focusInvalid: true,
            ignore: "",

            rules: {
                lemail: {
                    required: true,
                    email: true,
                },
                lpassword: {
                    required: true,
                    minlength: 5,
                },
            },

            highlight: function (e) {
                $(e)
                    .closest(".form-group")
                    .removeClass("has-info")
                    .addClass("has-error");
            },

            success: function (e) {
                $(e).closest(".form-group").removeClass("has-error"); //.addClass('has-info');
                $(e).remove();
            },

            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            },

            submitHandler: function (form) {
                console.log("login");
                location.href = "/Home/Appointment";                
            },
            invalidHandler: function (form) {
                console.log("login-form validation fail");
            },
        });

        $("#register-form").validate({
            debug: true,
            errorElement: "div",
            errorClass: "help-block",
            focusInvalid: true,
            ignore: "",

            rules: {
                rfullname: {
                    required: true,
                },
                remail: {
                    required: true,
                    email: true,
                },
                rpassword: {
                    required: true,
                    minlength: 5,
                },
                rpassword2: {
                    required: true,
                    minlength: 5,
                    equalTo: "#rpassword",
                },
                rcheckbox: {
                    required: true,
                },
            },

            messages: {
                rcheckbox: {
                    required: "Must need to accept the user agreement.",
                },
            },

            highlight: function (e) {
                $(e)
                    .closest(".form-group")
                    .removeClass("has-info")
                    .addClass("has-error");
            },

            success: function (e) {
                $(e).closest(".form-group").removeClass("has-error"); //.addClass('has-info');
                $(e).remove();
            },

            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            },

            submitHandler: function (form) {
                console.log("register");
                location.href = "/Home/Login";  
            },

            invalidHandler: function (form) {
                console.log("register-form validation fail");
            },
        });

        $("#forgot-form").validate({
            debug: true,
            errorElement: "div",
            errorClass: "help-block",
            focusInvalid: true,
            ignore: "",

            rules: {
                femail: {
                    required: true,
                    email: true,
                },
            },

            highlight: function (e) {
                $(e)
                    .closest(".form-group")
                    .removeClass("has-info")
                    .addClass("has-error");
            },

            success: function (e) {
                $(e).closest(".form-group").removeClass("has-error"); //.addClass('has-info');
                $(e).remove();
            },

            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            },

            submitHandler: function (form) {
                console.log("forgot");
                location.href = "/Home/Login";  
            },

            invalidHandler: function (form) {
                console.log("forgot-form validation fail");
            },
        });

        $(document).one("ajaxloadstart.page", function (e) {
            //in ajax mode, remove remaining elements before leaving page
            $("[class*=select2]").remove();
        });
    });
</script>

