@{
    ViewData["Title"] = "Statistics";
}

<!-- Live Tracker Map Section Start -->
<header id="home" class="home-area hero-equal-height overflow-hidden d-flex">
    <div id="live-map-tracker">
        <iframe src="https://www.bing.com/covid"></iframe>
    </div>
</header>
<!-- Live Tracker Map Section End -->
