<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      Covid 19 - Social Awareness and Information Management System (IMS)
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="Covid 19 - Social Awareness and Information Management System (IMS), Coronavirus (COVID-19) Pandemic, Corona virus responsive"
    />
    <meta
      name="description"
      content="Covid 19 - Social Awareness and Information Management System (IMS)"
    />
    <link rel="icon" type="image/png" href="assets/img/favicon.png" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&amp;display=swap"
      rel="stylesheet"
    />
    <!-- Site All Style Sheet Css -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="assets/css/odometer.min.css" rel="stylesheet" />
    <!-- Site Main Style Sheet Css -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <!-- Site Main Responsive Style Sheet Css -->
    <link href="assets/css/responsive.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Start Preloader Area -->
    <div class="preloader">
      <div class="preloader">
        <span></span>
        <span></span>
      </div>
    </div>
    <!-- End Preloader Area -->

    <!-- Navbar Start -->
    <nav
      class="navbar navbar-b navbar-reduce navbar-expand-md fixed-top"
      style="background-color: white"
      id="mainNav"
    >
      <div class="container">
        <a class="navbar-brand js-scroll" href="index.htm">
          <img src="assets/img/logo.png" class="img-fluid" alt="logo" />
        </a>
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#navbarDefault"
          aria-controls="navbarDefault"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span></span>
          <span></span>
          <span></span>
        </button>
        <div
          class="navbar-collapse collapse justify-content-end"
          id="navbarDefault"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link js-scroll active" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll" href="#symptoms">Symptoms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll" href="#faq">Faq</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll" href="#prevention">Prevention</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll" href="#contact">Test</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll" href="#vaccine">Vaccine</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll" href="live-tracker.htm">
                Statistics
              </a>
            </li>
          </ul>
          <ul class="navbar-nav-tracker-btn">
            <li class="nav-item">
              <a class="nav-link live-tracker-btn" href="login.htm">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- Home Section Start -->
    <header
      id="home"
      class="home-area hero-equal-height section-padding overflow-hidden d-flex align-items-center"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-12 col-lg-6">
            <div class="text-left home-content z-index position-relative">
              <h5>Covid-19</h5>
              <h1>Corona Virus - Stay Home Stay Safe</h1>
              <p>
                COVID-19 is the infectious disease caused by the most recently
                discovered coronavirus. This new virus and disease were unknown
                before the outbreak began in Wuhan, China, in December 2019.
              </p>

              <a
                href="https://www.youtube.com/watch?v=elWIPbDfLA0"
                class="iq-video popup-video mfp-iframe button home-btn-2 active-btn"
              >
                <i class="fa fa-play-circle"></i> Learn About COVID-19</a
              >
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-6">
            <div class="text-center z-index position-relative home-image">
              <img src="assets/img/home-front.png" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Home Section End -->

    <!-- Counter Section Start -->
    <section class="counter-area">
      <div class="container">
        <div class="counter-inner-box">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 counter-item">
              <div class="single-counter-box">
                <h3 class="odometer" data-count="148999876">00</h3>
                <p>Confirmed Cases</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 counter-item">
              <div class="single-counter-box">
                <h3 class="odometer" data-count="3140115">00</h3>
                <p>Worldwide Deaths</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 counter-item">
              <div class="single-counter-box">
                <h3 class="odometer" data-count="968452196">00</h3>
                <p>vaccine doses administered</p>
              </div>
            </div>

            <div class="col-12 text-center">
              <div class="counter-update-box">
                <h6 class="covid-update-status">
                  **Updated less than 3 days ago, Data Source:
                  <a target="_" href="https://covid19.who.int/">WHO</a>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Counter Section End -->

    <!-- Symptoms Section Start -->
    <section id="symptoms" class="symptoms-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 section-title">
            <h6 class="small-title">WHAT ARE THE SYMPTOMS OF COVID-19?</h6>
            <h2>SYMPTOMS OF CORONAVIRUS</h2>
          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="col-lg-4 col-md-6 col-sm-12 symptoms-item">
            <div class="single-symptoms">
              <div class="symptoms-icon">
                <img src="assets/img/symptoms/symptoms-1.svg" alt="image" />
              </div>
              <div class="symptoms-details">
                <h3>Dry Cough</h3>
                <p>A dry cough is a cough that doesn't bring up mucus.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 symptoms-item">
            <div class="single-symptoms">
              <div class="symptoms-icon">
                <img src="assets/img/symptoms/symptoms-3.svg" alt="image" />
              </div>
              <div class="symptoms-details">
                <h3>High Fever</h3>
                <p>
                  A high fever is when the body temperature rises above 103&#730F in
                  an adult.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 symptoms-item">
            <div class="single-symptoms">
              <div class="symptoms-icon">
                <img src="assets/img/symptoms/symptoms-5.svg" alt="image" />
              </div>
              <div class="symptoms-details">
                <h3>Breath Shortness</h3>
                <p>
                  Shortness of breath occurs when a person has 
                  difficulty taking in enough air to breathe.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 symptoms-item">
            <div class="single-symptoms">
              <div class="symptoms-icon">
                <img src="assets/img/symptoms/symptoms-2.svg" alt="image" />
              </div>
              <div class="symptoms-details">
                <h3>Headache</h3>
                <p>
                  Headache or head pain symptoms include throbbing, squeezing, constant, 
                  unrelenting.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 symptoms-item">
            <div class="single-symptoms">
              <div class="symptoms-icon">
                <img src="assets/img/symptoms/symptoms-4.svg" alt="image" />
              </div>
              <div class="symptoms-details">
                <h3>Tiredness</h3>
                <p>
                  Tiredness is the feeling that you are in need of rest or sleep.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 symptoms-item">
            <div class="single-symptoms">
              <div class="symptoms-icon">
                <img src="assets/img/symptoms/symptoms-6.svg" alt="image" />
              </div>
              <div class="symptoms-details">
                <h3>Muscle Pain</h3>
                <p>
                  This type of pain is usually localized, affecting few 
                  muscles or a small part of your body.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="day-by-day-symptoms-notes">
              <div class="row d-flex align-items-center justify-content-center">
                <div class="col-lg-8 col-md-10 col-sm-12">
                  <p>
                    <span class="day-by-day-symptoms-notes-title"
                      >Day by day Symptoms of Coronavirus:</span
                    >
                    Symptoms start off mild. Patients may experience a fever,
                    dry cough, or occasional shortness of breath. Some may also
                    feel fatigue and muscle pain. A minority may have had
                    diarrhea or nausea one or two days before this.
                  </p>
                </div>
                <div class="col-lg-4 col-md-10 col-sm-12">
                  <div class="symptoms-notes-btn">
                    <a href="#faq" class="button js-scroll"
                      ><i class="fa fa-info" aria-hidden="true"></i> Day by day
                      Symptoms</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Symptoms Section End -->

    <!-- Faq & Symptoms Section Start -->
    <section id="faq" class="faq-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 section-title">
            <h6 class="small-title">Covid-19 (FAQs) & SYMPTOMS</h6>
            <h2>FAQ & DAY BY DAY SYMPTOMS</h2>
          </div>
          <div class="col-lg-6 col-md-12 faq-item">
            <div class="accordion">
              <div class="item active">
                <div class="title">
                  <h6><span>01.</span> What is a novel coronavirus?</h6>
                </div>
                <div class="accordion-info active">
                  <p>
                    Coronaviruses are a large family of viruses which may cause
                    illness in animals or humans. In humans, several
                    coronaviruses are known to cause respiratory infections
                    ranging from the common cold to more severe diseases such as
                    Middle East Respiratory Syndrome (MERS) and Severe Acute
                    Respiratory Syndrome (SARS). The most recently discovered
                    coronavirus causes coronavirus disease COVID-19.
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="title">
                  <h6><span>02.</span> What are the symptoms of COVID-19?</h6>
                </div>
                <div class="accordion-info">
                  <p>
                    The most common symptoms of COVID-19 are fever, dry cough,
                    and tiredness. Other symptoms that are less common and may
                    affect some patients include aches and pains, nasal
                    congestion, headache, conjunctivitis, sore throat, diarrhea,
                    loss of taste or smell or a rash on skin or discoloration of
                    fingers or toes. These symptoms are usually mild and begin
                    gradually. Some people become infected but only have very
                    mild symptoms.
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="title">
                  <h6><span>03.</span> How to wash fruits and vegetables?</h6>
                </div>
                <div class="accordion-info">
                  <p>
                    Fruits and vegetables are important components of a healthy
                    diet. Wash them the same way you should do under any
                    circumstance: before handling them, wash your hands with
                    soap and water. Then, wash fruits and vegetables thoroughly
                    with clean water, especially if you eat them raw.
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="title">
                  <h6>
                    <span>04.</span> Can children or adolescents catch COVID-19?
                  </h6>
                </div>
                <div class="accordion-info">
                  <p>
                    Research indicates that children and adolescents are just as
                    likely to become infected as any other age group and can
                    spread the disease.
                  </p>
                  <br />
                  <p>
                    Evidence to date suggests that children and young adults are
                    less likely to get severe disease, but severe cases can
                    still happen in these age groups.
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="title">
                  <h6><span>05.</span> How does COVID-19 spread?</h6>
                </div>
                <div class="accordion-info">
                  <p>
                    People can catch COVID-19 from others who have the virus.
                    The disease spreads primarily from person to person through
                    small droplets from the nose or mouth, which are expelled
                    when a person with COVID-19 coughs, sneezes, or speaks.
                    These droplets are relatively heavy, do not travel far and
                    quickly sink to the ground. People can catch COVID-19 if
                    they breathe in these droplets from a person infected with
                    the virus. This is why it is important to stay at least 1
                    meter) away from others.
                  </p>
                </div>
              </div>
              <div class="item">
                <div class="title">
                  <h6><span>06.</span> How to grocery shop safely?</h6>
                </div>
                <div class="accordion-info">
                  <p>
                    When grocery shopping, keep at least 1-metre distance from
                    others and avoid touching your eyes, mouth and nose. If
                    possible, sanitize the handles of shopping trolleys or
                    baskets before shopping. Once home, wash your hands
                    thoroughly and also after handling and storing your
                    purchased products.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="day-by-day-symptoms">
              <h2>Day by day Symptoms of Coronavirus</h2>
              <p>
                <strong>Day 1:</strong> Symptoms start off mild. Patients may
                experience a fever, dry cough, or occasional shortness of
                breath. Some may also feel fatigue and muscle pain. A minority
                may have had diarrhea or nausea one or two days before this.
              </p>
              <p>
                <strong>Day 3:</strong> This is how long it took, on average,
                before Wenzhou patients were admitted to the hospital after
                their symptoms started.
              </p>
              <p>
                <strong>Day 5:</strong> In severe cases, symptoms could start to
                worsen. Patients may have difficulty breathing, especially if
                they are older or have a preexisting health condition.
              </p>
              <p>
                <strong>Day 7:</strong> This is how long it took, on average,
                for the Wuhan patients to be admitted to the hospital after
                their symptoms started.
              </p>
              <p>
                <strong>Day 8:</strong> By this point, patients with severe
                cases will have most likely developed shortness of breath,
                pneumonia, or acute respiratory distress syndrome, an illness
                that may require intubation. ARDS is often fatal.
              </p>
              <p>
                <strong>Day 10:</strong> If patients have worsening symptoms,
                this is the time in the disease's progression when they're
                likely to be admitted to the ICU. These patients probably have
                more abdominal pain and appetite loss than patients with milder
                cases.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Faq & Symptoms Section End -->

    <!-- Prevention Section Start -->
    <section id="prevention" class="prevention-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 section-title">
            <h6 class="small-title">Protect Your Life covid-19?</h6>
            <h2>PREVENTION & ADVICE</h2>
          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="col-lg-4 col-md-6">
            <div class="single-prevention">
              <div class="prevention-icon">
                <img src="assets/img/prevention/prevention-1.png" alt="image" />
              </div>
              <div class="prevention-text">
                <h3>Cover Cough</h3>
                <p>
                  Your cloth face covering may protect them. Their face covering
                  may protect you.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-prevention">
              <div class="prevention-icon">
                <img src="assets/img/prevention/prevention-5.png" alt="image" />
              </div>
              <div class="prevention-text">
                <h3>Don't touch your Face</h3>
                <p>
                  Avoiding don't touching the eyes, nose, and mouth with
                  unwashed hands.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-prevention">
              <div class="prevention-icon">
                <img src="assets/img/prevention/prevention-2.png" alt="image" />
              </div>
              <div class="prevention-text">
                <h3>Wear Mask When go Outside</h3>
                <p>
                  Follow WHO's guidance and advice on the use of masks to protect against COVID-19.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-prevention">
              <div class="prevention-icon">
                <img src="assets/img/prevention/prevention-3.png" alt="image" />
              </div>
              <div class="prevention-text">
                <h3>Keep Social Distance</h3>
                <p>
                  Keeping a social distance of at least 6 feet from other
                  people.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-prevention">
              <div class="prevention-icon">
                <img src="assets/img/prevention/prevention-4.png" alt="image" />
              </div>
              <div class="prevention-text">
                <h3>Wash Your Hands regularly</h3>
                <p>
                  Washing your hands often for at least 20 seconds with soap and
                  water.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="single-prevention">
              <div class="prevention-icon">
                <img src="assets/img/prevention/prevention-6.png" alt="image" />
              </div>
              <div class="prevention-text">
                <h3>Stay At home</h3>
                <p>
                  Follow your community guidelines for staying home. 
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="handwash-prevention-notes">
              <div class="row d-flex align-items-center justify-content-center">
                <div class="col-lg-8 col-md-10 col-sm-12">
                  <p>
                    <span class="handwash-prevention-notes-title"
                      >Good hand-washing: A step-by-step Guide:</span
                    >
                    The NHS says that washing your hands is a key part of
                    preventing the spread of viruses such as the coronavirus. Dr
                    Adele McCormick from the University of Westminster
                    demonstrates how to do this properly - which should take
                    about 20 seconds.
                  </p>
                </div>
                <div class="col-lg-4 col-md-10 col-sm-12">
                  <div class="prevention-notes-btn">
                    <a href="#handwash" class="button js-scroll"
                      >How to Wash Your Hand
                      <i class="fa fa-question-circle-o" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Prevention Section End -->

    <!-- Hand Wash Section Start -->
    <section id="handwash" class="handwash-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 section-title">
            <h6 class="small-title">FOLLOW THE STEPS & WASH YOUR HANDS</h6>
            <h2>STEP BY STEP WASH YOUR HANDS</h2>
          </div>
          <div class="col-6 col-mb-5 col-sm-4 col-lg-2">
            <div class="handwash-box">
              <div class="handwash-icon">
                <img src="assets/img/hand-icon/hand-1.png" alt="hand-icon" />
              </div>
              <div class="handwash-title">
                <h6>Apply Soup</h6>
              </div>
            </div>
          </div>
          <div class="col-6 col-mb-5 col-sm-4 col-lg-2">
            <div class="handwash-box">
              <div class="handwash-icon">
                <img src="assets/img/hand-icon/hand-2.png" alt="hand-icon" />
              </div>
              <div class="handwash-title">
                <h6>Palm to Palm</h6>
              </div>
            </div>
          </div>
          <div class="col-6 col-mb-5 col-sm-4 col-lg-2">
            <div class="handwash-box">
              <div class="handwash-icon">
                <img src="assets/img/hand-icon/hand-3.png" alt="hand-icon" />
              </div>
              <div class="handwash-title">
                <h6>Back to Hands</h6>
              </div>
            </div>
          </div>
          <div class="col-6 col-mb-5 col-sm-4 col-lg-2">
            <div class="handwash-box">
              <div class="handwash-icon">
                <img src="assets/img/hand-icon/hand-4.png" alt="hand-icon" />
              </div>
              <div class="handwash-title">
                <h6>Between Fingers</h6>
              </div>
            </div>
          </div>
          <div class="col-6 col-mb-5 col-sm-4 col-lg-2">
            <div class="handwash-box">
              <div class="handwash-icon">
                <img src="assets/img/hand-icon/hand-5.png" alt="hand-icon" />
              </div>
              <div class="handwash-title">
                <h6>Rub Wrists</h6>
              </div>
            </div>
          </div>
          <div class="col-6 col-mb-5 col-sm-4 col-lg-2">
            <div class="handwash-box">
              <div class="handwash-icon">
                <img src="assets/img/hand-icon/hand-6.png" alt="hand-icon" />
              </div>
              <div class="handwash-title">
                <h6>Clean with Water</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Hand Wash Section End -->

    <!-- Covid Test Section Start -->
    <section id="contact" class="contact-area section-padding">
      <div class="container">
        <div class="contact-wrapper">
          <div class="row d-flex align-items-center">
            <div class="col-lg-8 m-auto text-center">
              <div class="contact-content">
                <h2>WANT TO TEST COVID-19?</h2>
                <p>
                  Usually COVID-19 symptoms start off mild and patients may 
                  experience a fever, dry cough, or occasional shortness of breath.
                  You can test COVID-19 to ensure you are safe.
                </p>
                <div class="contact-content-btn">
                  <a href="login.htm" class="button active-btn"
                    ><i
                      class="fa fa-chevron-circle-right"
                      aria-hidden="true"
                    ></i>
                    Register Online</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Covid Test Section End -->

    <!-- Vaccine Section Start -->
    <section id="vaccine" class="contact-area section-padding">
      <div class="container">
        <div class="contact-wrapper">
          <div class="row d-flex align-items-center">
            <div class="col-lg-8 m-auto text-center">
              <div class="contact-content">
                <h2>WANT TO GET COVID-19 VACCINE?</h2>
                <p>
                  Scientists believe existing vaccines will help control the
                  variant when it comes to preventing severe disease. The vaccinations
                  will help to slow down the spread of the disease.
                </p>
                <div class="contact-content-btn">
                  <a href="login.htm" class="button active-btn"
                    ><i
                      class="fa fa-chevron-circle-right"
                      aria-hidden="true"
                    ></i>
                    Register Online</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Vaccine Section End -->

    <!-- Footer Section Start -->
    <footer class="footer-area">
      <div class="footer-top-area">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 mr-auto footer-link">
              <div class="footer-logo-box">
                <a href="#" class="footer-logo-link">
                  <img src="assets/img/logo.png" class="img-fluid" alt="logo" />
                </a>
                <p>
                  COVID-19 Social Awareness and Information Management System.
                </p>
                <div class="footer-social-icon">
                  <a href="#" class="icon"> <i class="fa fa-facebook"></i> </a>
                  <a href="#" class="icon"> <i class="fa fa-twitter"></i> </a>
                  <a href="#" class="icon"> <i class="fa fa-dribbble"></i> </a>
                  <a href="#" class="icon"> <i class="fa fa-behance"></i> </a>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 footer-link">
              <h5>Quick Link</h5>
              <ul class="list-menu">
                <li><a href="#symptoms">Symptoms</a></li>
                <li><a href="#prevention">Prevention</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li>
                  <a target="_" href="https://covid19.who.int/"
                    >WHO Dashboard</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 footer-link">
              <h5>Covid Specialist Doctors</h5>
              <ul class="list-menu">
                <li><a href="#">Dr. Afsana Begum</a></li>
                <li><a href="#">Dr. Amina Sultana</a></li>
                <li><a href="#">Dr. Md. Iqbal Hossain</a></li>
                <li><a href="">Prof. Dr. Md. Omar Faruq</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 footer-link footer-subscribe">
              <h5>Newsletter Subscription</h5>
              <form>
                <input
                  type="Email"
                  name="email"
                  placeholder="Type Your Email"
                />
                <a href="#" class="subscribe-btn"><span>Subscribe</span></a>
              </form>
              <div class="footer-mobile-number footer-link">
                <h5>Emergency Contact</h5>
                <a href="tel:16263">16263</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-area text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p>Copyright &copy; 2021 - All Right Reserved.</p>
              <p>
                Designed by
                <a target="_" href="http://cse.cub.edu.bd/cse/"
                  >CUB Spring-21 CSE-3306 Group-3</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-shape">
        <div class="footer-shape-1">
          <img src="assets/img/covid-shape-1.png" alt="image" />
        </div>
        <div class="footer-shape-2">
          <img src="assets/img/covid-shape-1.png" alt="image" />
        </div>
        <div class="footer-shape-3">
          <img src="assets/img/covid-shape-1.png" alt="image" />
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Back to Top -->
    <a href="#" class="back-to-top back-to-top-pulse"
      ><i class="fa fa-caret-up"></i
    ></a>

    <!-- Jquery Js-->
    <script src="assets/js/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap Js-->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Site All Plugin Js-->
    <script src="assets/js/plugins.js"></script>
    <!-- Site Main Js-->
    <script src="assets/js/main.js"></script>
  </body>
</html>
