<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Live Statistics - COVID19 IMS</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="keywords"
      content="Coronavirus Medical Prevention Template, Social Awarness & Prevention Template, Coronavirus (COVID-19) Pandemic Template, Corona virus responsive template"
    />
    <meta
      name="description"
      content="Covid 19 - Coronavirus Social Awareness and Medical Prevention HTML Template"
    />
    <link rel="icon" type="image/png" href="assets/img/favicon.png" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&amp;display=swap"
      rel="stylesheet"
    />
    <!-- Site All Style Sheet Css -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="assets/css/odometer.min.css" rel="stylesheet" />
    <!-- Site Main Style Sheet Css -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <!-- Site Main Responsive Style Sheet Css -->
    <link href="assets/css/responsive.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Start Preloader Area -->
    <div class="preloader">
      <div class="preloader">
        <span></span>
        <span></span>
      </div>
    </div>
    <!-- End Preloader Area -->

    <!-- Live Tracker Map Section Start -->
    <div id="live-map-tracker">
      <a href="index.htm" class="link-btn">Back to Home</a>
      <iframe src="https://www.bing.com/covid"></iframe>
    </div>
    <!-- Live Tracker Map Section End -->

    <!-- Jquery Js-->
    <script src="assets/js/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap Js-->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Site All Plugin Js-->
    <script src="assets/js/plugins.js"></script>
    <!-- Site Main Js-->
    <script src="assets/js/main.js"></script>
  </body>
</html>
